<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1>name  {{student_data.name}}</h1>
            <h3>register number {{student_data.register_number}}</h3>
            <h3>current semester  {{student_data.acad_details.current_sem}}</h3>
            <h3>completed semesters {{student_data.acad_details.completed_sem}}</h3>
            <h3>cgpa {{student_data.acad_details.cgpa}}</h3>
            <h3>overall status  {{student_data.acad_details.overall_status}} </h3>
            <h3>attendance_percentage  {{student_data.acad_details.attendance_perc}}</h3>
        </div>
    </body>
</html>